exportPattern("^[[:alpha:]]+")
importFrom("pROC", "roc")
importFrom("graphics", "legend", "par", "points", "text", "lines")
importFrom("stats", "na.omit", "wilcox.test", "confint")
importFrom("vcd", "Kappa")
importFrom("methods", "is")

